.card {
    display: flex;
    height: 168px;
    width: 614px;
    margin: 50px 5px 0;

    &__image {
        height: 168px;
        border-radius: 5px;
        
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Inter';
        font-style: normal;
        color: #2B283A;
        margin-left: 19px;

        &__header {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 10.24px;
            line-height: 12px;

            &__location {
                display: flex;
                align-items: center;
                margin-right: 12px;

                &__pin {
                    margin-right: 4px;
                }

                &__txt {
                    letter-spacing: 0.17em;
                }
            }

            &__link {
                text-decoration-line: underline;
                color: #918E9B;
            }
        }

        &__title {
            margin-top: 7px;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
        }

        &__date {
            margin-top: 7px;
            font-weight: 700;
            font-size: 10.24px;
            line-height: 12px;

        }

        &__dsc {
            margin-top: 9px;
            font-weight: 400;
            font-size: 10.24px;
            line-height: 150%;
        }
    }
}